ion-content {
  /*--background: none;
  background: black url('/assets/imgs/beachvolleybackground.JPG') no-repeat center;
  background-size: cover;*/
}

.header-img {
  height: 50px;
}
.header-image {
  background: url('/assets/imgs/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
}

.background-header {
  background-image: url('/assets/imgs/background.png') ;
  background-size: cover;
  background-repeat:no-repeat;
  /*background-position:center center;*/
  width:100%;
  height:177px;
  float:left;

}