<ion-header>
  <ion-toolbar color="primary" >
      <ion-title style="font-size: small" text-left><a style="color: white" href="https://www.primevideo.com/avp" target="_blank" >Watch On Amazon</a></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()" routerDirection="root"><ion-icon slot="icon-only" name="log-out"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header class="background-header">

</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <!-- xs,sm,md,lg,xl-->
      <ion-col size="12" size-xs="12" size-sm="6" size-md="4" size-lg="3" *ngFor="let t of events">
        <ion-card color="dark" [disabled]="t.status===1" button="true" (click)=open(t) >
          <ion-card-header>
            <ion-card-subtitle>{{t.eventName}}</ion-card-subtitle>
            <ion-card-title>{{ t.dateRange }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h1 >{{ t.statusName }}</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
