
ion-avatar{
    width: 40px;
    height: 40px;
   
}
.muted {
    /*color: #8a9fa8;
    font-size: 1rem;*/
    padding-right: 4px;
}

.eliminated{
    //background-color: lightpink;
    border: medium solid red;

}
.stillIn{
    // background-color: lightgreen;
    border: medium solid green ;


}

.item-inner{
    min-height: 1px !important;
}

.label-md{
    margin-bottom: 1px!important;
    margin-top: 1px!important;
}

ion-item-divider{
    margin-top: 0px;
    min-height: 1px!important;
}