<ion-header>
    <ion-toolbar color="primary" style="font-size: medium">
        <p slot="start"> Fantasy Team </p>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="/app/leaderboard" text="Close" icon=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-header>
    <ion-item>
        <p *ngIf="this.descending === true" >
            <ion-icon  slot="start" size="large" tappable name="arrow-round-up" (click)="ascDesc()"></ion-icon>
        </p>
        <p *ngIf="this.descending === false" >
        <ion-icon slot="start" size="large" tappable name="arrow-round-down" (click)="ascDesc()"></ion-icon>
        </p>
        <select style="width:90%;padding-right: 5px;padding-left: 5px"   name="sort" id=""
                (change)="sort($event)">
            <option value="grandPointsTotal" >Sort By:</option>
            <option value="seed">Seed</option>
            <option value="seedMultiplier">Point Multiplier</option>
            <option value="grandPointsTotal" selected>Fantasy Points</option>
            <option value="matchesPlayed">Matches Played</option>
            <option value="aces">Aces</option>
            <option value="blocks">Blocks</option>
            <option value="digs">Digs</option>
            <option value="kills">kills</option>
            <option value="serviceErrors">Service Errors</option>
        </select>

        <ion-icon slot="end" size="large" tappable name="refresh" (click)="loadTeam(scheduleNo,userId)"></ion-icon>
    </ion-item>


</ion-header>
<ion-header *ngIf="loaded" >
    <ion-item   color="warning" >
        <ion-label style="font-size:8pt; padding-left: 20px"  >
            <h3><b> {{ leaderBoardResponse.userName }}</b></h3>
            <ion-note style="font-size:8pt;" >{{ 12 - leaderBoardResponse.noPlayersEliminated }}/12 players remain | Avg Multiplier Left:   <b class="muted" style="color: green;font-size:10pt;">x {{leaderBoardResponse.avgMultiplier | customFormatter: leaderBoardResponse.avgMultiplier > 100}} </b> </ion-note>
        </ion-label>
        <ion-badge color="primary" sizeLg="12" slot="end"> {{leaderBoardResponse.grandTotalPoints  | customFormatter: leaderBoardResponse.grandTotalPoints > 100}}</ion-badge>
    </ion-item>
    <ion-item-divider></ion-item-divider>
</ion-header>
<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid fixed *ngIf="loaded">
        <ion-row [ngClass]="player.matchesLost >1 ? 'eliminated' : 'stillIn'"
                 *ngFor="let player of userTeam | sort: {property: column, order: order}; let i = index">
            <ion-col size="2" style="font-size:8pt">
                <ion-row>
                    <ion-avatar tappable (click)="openModal(player)" *ngIf="player.imageUrl != 'NA'">
                        <img [src]="player.imageUrl"/>
                    </ion-avatar>
                    <ion-avatar tappable (click)="openModal(player)" *ngIf="player.imageUrl == 'NA'">
                        <img src="../../../assets/imgs/profile.png"/>
                    </ion-avatar>
                </ion-row>
                <ion-row text-left>
                    #{{ player.seed }}-{{ player.gender }}
                </ion-row>
                <ion-row>
                    <b style="font-size:8pt" tappable (click)="openModal(player)">{{ player.name }}</b>
                </ion-row>
                <ion-row>
                    <ion-note style="font-size:6pt">{{ player.partnerName }}</ion-note>
                </ion-row>


            </ion-col>
            <ion-col text-left size="2">
                <ion-row style="padding-bottom: 10px;">
                    <span class="muted" style="color: black; font-size: 8pt;">Point Multiplier</span>
                </ion-row>
                <ion-row>
                    <b class="muted" style="color: green;font-size:12pt;">x{{ player.seedMultiplier}}</b>
                </ion-row>
            </ion-col>
            <ion-col text-left size="4" style="font-size:8pt;">
                <ion-row>
                    <b class="muted">{{player.grandPointsTotal | customFormatter: player.grandPointsTotal > 100}}</b><span>Point Total</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{player.statsPointTotal | customFormatter: player.statsPointTotal > 100}}</b><span>Stats Total</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{player.matchesPlayed}}</b><span>Matches Played</span>
                </ion-row>
                <ion-row>
                    <b class="muted" style="color: red">{{player.serviceErrors}}</b><span>Service Errors</span>
                </ion-row>
            </ion-col>
            <ion-col text-left size="3" style="font-size:8pt">
                <ion-row>
                    <b class="muted"> {{player.blocks}}</b><span>Blocks</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{ player.digs}}</b><span>Digs</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{ player.aces}}</b><span>Aces</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{ player.kills}}</b><span>Kills</span>
                </ion-row>

            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>