<ion-slides>
  <ion-slide class="slide-1">
    <ion-img src="/assets/imgs/slide-1.png"></ion-img>
    <h1>Enjoy the fantasy app Go AVP</h1>
    <p>have fun</p>
    <div class="bottom-box">
      <h1>Enjoy Fantasy AVP</h1>
      <p>AVP Rules</p>
      <ion-button (click)="next()">What else</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-2">
    <ion-img src="/assets/imgs/slide-2.png"></ion-img>
    <h1>Enjoy the fantasy app Go AVP 2</h1>
    <p>have fun</p>
    <div class="bottom-box">
      <h1>Enjoy Fantasy AVP</h1>
      <p>AVP Rules 3</p>
      <ion-button (click)="next()">What else 2</ion-button>
    </div>
  </ion-slide>

  <ion-slide class="slide-3">
    <ion-img src="/assets/imgs/slide-3.png"></ion-img>
    <h1>Enjoy the fantasy app Go AVP 3</h1>
    <p>have fun 3</p>
    <div class="bottom-box">
      <h1>Enjoy Fantasy AVP</h1>
      <p>AVP Rules 3 </p>
      <ion-button (click)="finish()">Enoy AVP Fantasy </ion-button>
    </div>
  </ion-slide>
</ion-slides>