<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> 
        
      </ion-buttons>
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content parallax-header [scrollEvents]="true">
  
    <div class="header-image"></div>
  
    <div class="main-content">
  
      <ion-grid>
        <ion-row>
          <ion-col size="3" class="profile-img-col">
            <div class="profile-frame"><img src="../../../assets/imgs/profile-img.jpg" class="profile-img"></div>
          </ion-col>
          <ion-col >
            <b>540</b> <span class="muted">Total Seed Bonus</span>
          </ion-col>
          <ion-col>
            <b>1,732</b> <span class="muted">Total Result Bonus</span>
          </ion-col>
          <ion-col>
            <b>1,732</b> <span class="muted">Total Fantasy Points</span>
          </ion-col>
          <!-- <ion-col size="1">
            <ion-button class="profile-btn" fill="outline" size="small">
              <ion-icon name="settings" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2" offset="1">
            <ion-button class="profile-btn" fill="outline" size="small">
              <ion-icon name="contacts" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <ion-button class="profile-btn" fill="outline" size="small">
              Edit Profile
            </ion-button>
          </ion-col> -->
        </ion-row>
        <ion-row padding-left class="name-row">
          Simon Grimm
        </ion-row>
        <ion-row padding-left class="twitter-name">
          @schlimmson
        </ion-row>
        <ion-row padding>
            @Ionicframework Expert • Educator, Consultant & Speaker • Creator of @ionicAcademy
        </ion-row>
        <ion-row padding-left text-uppercase>
          <ion-col >
            <b>540</b> <span class="muted">Total Seed Bonus</span>
          </ion-col>
          <ion-col>
            <b>1,732</b> <span class="muted">Total Result Bonus</span>
          </ion-col>
          <ion-col>
            <b>1,732</b> <span class="muted">Total Fantasy Points</span>
          </ion-col>
        </ion-row>
      </ion-grid>
  
      <hr>
      <ion-list>
        <div *ngFor="let tweet of dummyTweets">
          <ion-row>
            <ion-col size="2">
              <ion-avatar>
                <img src="../../../assets/imgs/{{tweet.img}}">
              </ion-avatar>
            </ion-col>
            <ion-col size="10">
              <ion-row align-items-center>
                <ion-col size="9">
                  {{ tweet.username }} <span class="twitter-name">@{{ tweet.handle }}</span>
                </ion-col>
                <ion-col class="muted">
                  <ion-icon name="chatbubbles"></ion-icon> {{ tweet.date | date: 'M/d' }}
                </ion-col>
              </ion-row>
  
              <ion-row>
                <ion-col>{{ tweet.text }}</ion-col>
              </ion-row>
  
              <ion-row class="share-row">
                <ion-col size="4">
                  <ion-button fill="clear" size="small">
                    <ion-icon name="share-alt" slot="icon-only"></ion-icon><span class="muted"></span>
                  </ion-button>
                </ion-col>
  
                <ion-col size="4">
                  <ion-button fill="clear" size="small">
                    <ion-icon name="repeat" slot="start"></ion-icon><span class="muted">{{ tweet.shareCount }}</span>
                  </ion-button>
                </ion-col>
  
                <ion-col size="4">
                  <ion-button fill="clear" size="small">
                    <ion-icon name="star" slot="start"></ion-icon><span class="muted">{{ tweet.likeCount }}</span>
                  </ion-button>
                </ion-col>
  
              </ion-row>
            </ion-col>
          </ion-row>
          <hr>
        </div>
      </ion-list>
    </div>
  
</ion-content>
