.header-img {
    height: 50px;
}
.profile-img-col {
    margin-top: -10px;
}
.profile-frame {
    background: #fff;
    padding: 4px;
    border-radius: 5px;
}
.profile-img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
}
.profile-btn {
    border-radius: 5px;
}
.name-row {
    font-size: 1.9rem;
}
.twitter-name {
    color: #8a9fa8;
}
.muted {
    color: #8a9fa8;
    font-size: 1rem;
    padding-left: 5px;
}
.share-row {
    height: 30px;
}
hr {
    background: var(--ion-color-medium);
}
.header-image {
    background: url('https://avp.com/wp-content/themes/wordpress-bootstrap-child/images/avp_logo_black_transparent.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 10vh;
}

.main-content {
    background-color: white;
}