<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register For The Premier Beach Volleyball Fantasy League </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="root"> <ion-icon slot="icon-only" name="log-out"></ion-icon> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>Pass word must contain a letter and a number no spaces no special chars</ion-item>
  <form class="form"  [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label floating color="primary">Username</ion-label>
      <ion-input type="text" formControlName="username" class="form-controll" required></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('username').hasError(validation.type) &&
            (validations_form.get('username').dirty || validations_form.get('username').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label floating color="primary">Full Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('name').hasError(validation.type) &&
            (validations_form.get('name').dirty || validations_form.get('name').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>   

    <ion-item>
      <ion-label floating color="primary">Email</ion-label>
      <ion-input  type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('email').hasError(validation.type) &&
            (validations_form.get('email').dirty || validations_form.get('email').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
 
    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label floating color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div
            class="error-message"
            *ngIf="
              validations_form
                .get('matching_passwords')
                .get('password')
                .hasError(validation.type) &&
              (validations_form.get('matching_passwords').get('password').dirty ||
                validations_form.get('matching_passwords').get('password').touched)
            "
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label floating color="primary">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div
            class="error-message"
            *ngIf="
              validations_form
                .get('matching_passwords')
                .get('confirm_password')
                .hasError(validation.type) &&
              (validations_form.get('matching_passwords').get('confirm_password').dirty ||
                validations_form.get('matching_passwords').get('confirm_password').touched)
            "
          >
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
    <!-- These validations are for the form group -->
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('matching_passwords').hasError(validation.type) &&
            (validations_form.get('matching_passwords').get('confirm_password').dirty ||
              validations_form.get('matching_passwords').get('confirm_password').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item class="terms-item">
      <ion-label color="primary">I accept terms and conditions</ion-label>
      <ion-checkbox formControlName="terms"></ion-checkbox>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.terms">
        <div
          class="error-message"
          *ngIf="
            validations_form.get('terms').hasError(validation.type) &&
            (validations_form.get('terms').dirty || validations_form.get('terms').touched)
          "
        >
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    
    <ion-button expand="block" shape="round" fill="outline" 
    type="submit" [disabled]="!validations_form.valid" margin-top>
      Register Email</ion-button> 
  </form>

  <!-- <div class="login-box">
        <ion-item>
            <ion-label position="stacked">Email </ion-label>
            <ion-input placeholder="Enter Email"></ion-input>
          </ion-item>        
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Repeat Password</ion-label>
          <ion-input type="password" placeholder="Repeat Password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>I agree with <a href="">terms and conditions</a></ion-label>
            <ion-checkbox color="dark" checked="false"></ion-checkbox>
          </ion-item>
      <ion-button expand="block" shape="round" fill="outline" routerLink="/signup" margin-top>
        Register Email</ion-button>        
    </div> -->
</ion-content>
