/* .login-box {
    margin: 1em;
    padding: 1em;
    margin-top: 10vh;
    background: #ffffffe6;
    border-radius: 15px;
    border: 2px solid var(--ion-color-primary);
}

ion-content {
    --background: none;
    background-color: black;
    //background-image: url('/assets/imgs/login.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-item {
    --ion-item-background: transparent;
} */

.term
  {
    padding-top: 20px;
  }

  .terms-checkbox-label
  {
    overflow: visible;
    text-overflow: initial;
    white-space: initial;
    opacity: 0.5;
    font-size: 14px;
    font-weight: bold;
  }

  .error-message
  {
    color: red;
  }
