<ion-header >
  <ion-toolbar color="primary" >
    <ion-title text-left>Draft is Open</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="logOut()" routerDirection="root"> <ion-icon slot="icon-only" name="log-out"></ion-icon> </ion-button>
      </ion-buttons>
  </ion-toolbar>
  </ion-header>
<ion-header *ngIf="this.event?.status === 2">
  <ion-toolbar *ngIf="userTeam?.length > 0">
     
    <ion-slides [options]="slidesOpts">
      <ion-slide *ngFor="let usr of userTeam">
        <ion-avatar slot="start" *ngIf="usr.imageUrl != 'NA'">
          <img [src]="usr.imageUrl" />
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="usr.imageUrl == 'NA'">
          <img src="../../../assets/imgs/profile.png" />
        </ion-avatar>        
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-grid>    
    <ion-row>
      <ion-col size="4">
        <ion-button (click)="segmentChanged(1)" [ngClass]="{ 'my-css-class': tierSelected === 1 }"
          >Tier 1 <br />[{{ tier1Count }}/4]</ion-button
        >
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="segmentChanged(2)" [ngClass]="{ 'my-css-class': tierSelected === 2 }"
          >Tier 2 <br />[{{ tier2Count }}/4]</ion-button
        >
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="segmentChanged(3)" [ngClass]="{ 'my-css-class': tierSelected === 3 }"
          >Tier 3 <br />[{{ tier3Count }}/4]</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-header>
  <ion-item *ngIf="loaded">

    <ion-icon *ngIf="this.descending === false" slot="start" size="large" tappable name="arrow-round-up" (click)="ascDesc()"></ion-icon>
    <ion-icon *ngIf="this.descending === true" slot="start" size="large" tappable name="arrow-round-down" (click)="ascDesc()"></ion-icon>
    <select style="width:100%;"   name="sort" id=""
            (change)="sort($event)">
      <option value="seed">SORT BY:</option>
      <option value="seed">Seed</option>
      <option value="seedMultiplier">Point Multiplier</option>
      <option value="overAllFantasyPoints" selected>Fantasy Points</option>
      <option value="matchesPlayed">Matches Played</option>
      <option value="aces">Aces</option>
      <option value="blocks">Blocks</option>
      <option value="digs">Digs</option>
      <option value="kills">kills</option>
      <option value="serviceErrors">Service Errors</option>
    </select>
  </ion-item>

  </ion-header>
<ion-content>    
  <ion-grid fixed *ngIf="loaded">
        <app-player
          *ngFor="let p of athleteTier | sort: {property: column, order: order}; let i = index"
          [player]="p"
          [team]="this.userTeam"
          [tournament]="event"
          (selectedPlayer)="onSelected($event)"
          (removePlayer)="onRemoved($event)"
        ></app-player> 
  </ion-grid>
</ion-content>
