.my-css-class{
    
    --background:var(--ion-color-success)
    }

    ion-slide {
        //background: var(--ion-color-light);
        display: block;
        padding:5px;
        //width: 100% !important;
        p {
            font-size: 8pt;
            margin-top: 0;
        }
    
         ion-avatar {
            display: inline-block;
            margin-top: 2px;
            width: 50px;
            height: 50px;
            img {
                border: 2px solid var(--ion-color-primary);
            }
        } 
    }
    ion-slide >:first-child {
        width: 100%;
    }