
.item-select .input-label{
  width:100%;
}
.muted {

  padding-right: 4px;
}


.eliminated{
  //background-color: lightpink;
  border: medium solid red;

}
.stillIn{
  // background-color: lightgreen;
  border: medium solid green ;


}

ion-select{
    width: 100%;
    max-width: 100% !important;;
  }