<ion-header>
    <ion-toolbar color="primary" >
       <p slot="start" style="font-size: small">Research Players</p>
        <ion-buttons slot="end" style="font-size: small">
            <ion-button (click)="logOut()" routerDirection="root"> <ion-icon slot="icon-only" name="log-out"></ion-icon> </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-header>
    <ion-item style="padding:0px !important; font-size: small;">
        <ion-select  style="font-weight: bold; " placeholder="Select AVP Event" [(ngModel)]="this.scheduleNo" name="selectEvent"
                    multiple="false" [selectedText]="selectedScheduleName"
                    (ionChange)="tournamentChanged($event)" required>
            <ion-select-option  value="0">
                All Events
            </ion-select-option>
            <ion-select-option *ngFor="let event of this.events" value="{{event.scheduleNo}}">
                {{event.eventName}}
            </ion-select-option>
        </ion-select>

    </ion-item>
    <ion-item style="padding:0px !important; font-size: small;">
        <ion-searchbar (ionInput)="filterAthletes($event.target.value)"></ion-searchbar>
    </ion-item>
    <ion-item >

        <p *ngIf="this.descending === true" >
            <ion-icon  slot="start" size="large" tappable name="arrow-round-up" (click)="ascDesc()"></ion-icon>
        </p>
        <p *ngIf="this.descending === false" >
            <ion-icon slot="start" size="large" tappable name="arrow-round-down" (click)="ascDesc()"></ion-icon>
        </p>
            <select style="width:90%;padding-right: 5px"   name="sortSelect" id=""
                    (change)="sort($event)">
                <option value="grandPointsTotal" >SORT BY:</option>
                <option value="seed">Seed</option>
                <option value="seedMultiplier">Point Multiplier</option>
                <option value="grandPointsTotal" selected>Fantasy Points</option>
                <option value="matchesPlayed">Matches Played</option>
                <option value="aces">Aces</option>
                <option value="blocks">Blocks</option>
                <option value="digs">Digs</option>
                <option value="kills">kills</option>
                <option value="serviceErrors">Service Errors</option>
            </select>

            <ion-icon slot="end" size="large" tappable name="refresh" (click)="loadAthletes(scheduleNo)"></ion-icon>

       </ion-item>

</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-grid fixed *ngIf="loaded">
        <ion-row [ngClass]="player.matchesLost >1 ? 'eliminated' : 'stillIn'"
                 *ngFor="let player of this.athleteTierList | sort: {property: column, order: order}; let i = index">
            <ion-col size="2" style="font-size:8pt">
                <ion-row>
                    <ion-avatar tappable (click)="openModal(player)" *ngIf="player.imageUrl != 'NA'">
                        <img [src]="player.imageUrl"/>
                    </ion-avatar>
                    <ion-avatar tappable (click)="openModal(player)" *ngIf="player.imageUrl == 'NA'">
                        <img src="../../../assets/imgs/profile.png"/>
                    </ion-avatar>
                </ion-row>
                <ion-row text-left *ngIf="this.scheduleNo >0">
                    #{{ player.seed }}-{{ player.gender }}
                </ion-row>
                <ion-row>
                    <b style="font-size:8pt" tappable (click)="openModal(player)">{{ player.name }}</b>
                </ion-row>
                <ion-row *ngIf="this.scheduleNo >0">
                    <ion-note style="font-size:6pt">{{ player.partnerName }}</ion-note>
                </ion-row>


            </ion-col>
            <ion-col text-left size="2">
                <ion-row style="padding-bottom: 10px;" *ngIf="this.scheduleNo >0">
                    <span class="muted" style="color: black; font-size: 8pt;">Point Multiplier</span>
                </ion-row>
                <ion-row *ngIf="this.scheduleNo >0">
                    <b class="muted" style="color: green;font-size:12pt;">x{{ player.seedMultiplier}}</b>
                </ion-row>
            </ion-col>
            <ion-col text-left size="4" style="font-size:8pt;">
                <ion-row *ngIf="this.scheduleNo >0">
                    <b class="muted">{{player.grandPointsTotal | customFormatter: player.grandTotalPoints > 100}}</b><span>Point Total</span>
                </ion-row>
                <ion-row *ngIf="this.scheduleNo ===0">
                    <b class="muted">{{player.overAllFantasyPoints | customFormatter: player.overAllFantasyPoints > 100}}</b><span>Over All Point Total</span>
                </ion-row>
                <ion-row  *ngIf="this.scheduleNo >0">
                    <b class="muted" >{{player.statsPointTotal | customFormatter: player.statsPointTotal > 100}}</b><span>Stats Total</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{player.matchesPlayed}}</b><span>Matches Played</span>
                </ion-row>
                <ion-row>
                    <b class="muted" style="color: red">{{player.serviceErrors}}</b><span>Service Errors</span>
                </ion-row>
            </ion-col>
            <ion-col text-left size="3" style="font-size:8pt">
                <ion-row>
                    <b class="muted"> {{player.blocks}}</b><span>Blocks</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{ player.digs}}</b><span>Digs</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{ player.aces}}</b><span>Aces</span>
                </ion-row>
                <ion-row>
                    <b class="muted">{{ player.kills}}</b><span>Kills</span>
                </ion-row>

            </ion-col>

        </ion-row>
    </ion-grid>


</ion-content>
