<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="research-players">
            <ion-icon name="analytics"></ion-icon>
            <ion-label>Research</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tournaments">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Tournament</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="leaderboard">
            <ion-icon name="podium"></ion-icon>
            <ion-label>Leaderboard</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>