<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-left style="font-size: small">AVP Player Card </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header>
    <ion-card>
        <ion-item>
            <ion-avatar slot="start" *ngIf="playerImage != 'NA'">
                <img [src]="playerImage" />
              </ion-avatar>
              <ion-avatar slot="start" *ngIf="playerImage == 'NA'">
                <img src="../../../assets/imgs/profile.png" />
              </ion-avatar>        
          <ion-item> <p padding text-capitalize text-center>{{playerName}}</p>   </ion-item>              
        </ion-item>    
      </ion-card>
</ion-header>
<ion-content>  
  
        <app-player-match-stats
        [playerId]="playerId"
        [scheduleNo]="scheduleNo">
      </app-player-match-stats>
</ion-content>


