
ion-avatar{
    width: 80px;
    height: 80px;
   
}
.main-content {
    background-color: white;
}

ion-card{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: 0 !important;
  }