<ion-row style="border: thin solid;">
    <ion-col size="1" style="font-size:8pt">
        <ion-row *ngIf="this.tournament?.status === 2 && this.isLoggedIn=== true" text-left>
            <ion-icon color="primary" size="large" *ngIf="!isSelected" name="add" tappable
                      (click)="selectedPlayerToTeam(player)"></ion-icon>
            <ion-icon color="primary" size="large" *ngIf="isSelected" name="remove" tappable
                      (click)="removePlayerFromTeam(player)"></ion-icon>
        </ion-row>

    </ion-col>
    <ion-col size="2" style="font-size:8pt">
        <ion-row>
            <ion-avatar tappable (click)="openModal(player)" *ngIf="player.imageUrl != 'NA'">
                <img [src]="player.imageUrl"/>
            </ion-avatar>
            <ion-avatar tappable (click)="openModal(player)" *ngIf="player.imageUrl == 'NA'">
                <img src="../../../assets/imgs/profile.png"/>
            </ion-avatar>
        </ion-row>
        <ion-row text-left>
            #{{ player.seed }}-{{ player.gender }}
        </ion-row>
        <ion-row>
            <b style="font-size:8pt" tappable (click)="openModal(player)">{{ player.name }}</b>
        </ion-row>
        <ion-row>
            <ion-note style="font-size:6pt">{{ player.partnerName }}</ion-note>
        </ion-row>


    </ion-col>
    <ion-col text-left size="2">
        <ion-row style="padding-bottom: 10px;">
            <span class="muted" style="color: black; font-size: 8pt;">Point Multiplier</span>
        </ion-row>
        <ion-row>
            <b class="muted" style="color: green;font-size:12pt;">x{{ player.seedMultiplier | customFormatter: player.seedMultiplier > 100}}</b>
        </ion-row>
    </ion-col>
    <ion-col text-left size="4" style="font-size:8pt;">
        <ion-row>
            <b class="muted">{{player.overAllFantasyPoints | customFormatter: player.overAllFantasyPoints > 100}}</b><span>Point Total</span>
        </ion-row>
        <ion-row>
            <b class="muted">{{player.matchesPlayed}}</b><span>Matches Played</span>
        </ion-row>
        <ion-row>
            <b class="muted" style="color: red">{{player.serviceErrors}}</b><span>Service Errors</span>
        </ion-row>
    </ion-col>
    <ion-col text-left size="3" style="font-size:8pt">
        <ion-row>
            <b class="muted"> {{player.blocks}}</b><span>Blocks</span>
        </ion-row>
        <ion-row>
            <b class="muted">{{ player.digs}}</b><span>Digs</span>
        </ion-row>
        <ion-row>
            <b class="muted">{{ player.aces}}</b><span>Aces</span>
        </ion-row>
        <ion-row>
            <b class="muted">{{ player.kills}}</b><span>Kills</span>
        </ion-row>

    </ion-col>

</ion-row>
<ion-row>

</ion-row>
  
    
   
