<ion-content>
  <div class="login-box">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input placeholder="Enter Username"  [(ngModel)]="username"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" placeholder="Password"  [(ngModel)]="password"></ion-input>
    </ion-item>
   
    <ion-button expand="block" shape="round" size="large" (click)="login()"  margin-top>
      Login</ion-button>  
    
   
    <ion-button expand="block" shape="round" fill="outline" routerLink="/signup" margin-top>
      Sign Up with Email</ion-button>
   
      
      
          <button ion-button full (click)="showPlatform()">Where am I running?</button>
       
  </div>
  </ion-content>