.login-box {
    margin: 1em;
    padding: 1em;
    margin-top: 10vh;
    background: #ffffffe6;
    border-radius: 15px;
    border: 2px solid var(--ion-color-primary);
}

ion-content {
    --background: none;
   background-image: url('/assets/imgs/beachvolleybackground.JPG');
   background-color: black;
    background-position: center;
    //background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-item {
    --ion-item-background: transparent;
}