.scoring__notification {
	padding: .35em 20px;
	text-align:center;
	font-size: 16px;
	line-height: 1.125em;
	background-color: #000;
	color: #fff;
	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}


#scoring {
	font-size: 10px;
    //padding: 3.75em 20px 2.1875em 20px;
    padding: .1em 5px .1em 5px;
	.scoring__main-content {
		margin: 0 auto;
		max-width: 1100px;		
	}
	.scoring__header {
		position: relative;
		
		.api-loading {
			opacity: 0;
			position: absolute;
			top: 50%;
			right: 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			.label, .loader {
				display: inline-block;
				vertical-align: middle;
			}
			.label {
				padding: 0 .25em 0 0;
				font-size: 11px;
				color: #c5c5c5;
				text-transform: uppercase;
			}
			.loader {
				position: relative;
				font-size: 30px;
				transform: unset;
				top: auto;
				left: auto;
			}
			&.api-loading__active {
				opacity: 1;
			}			

		}
	}
	.scoring__heading-wrapper {
		position: relative;
		margin: 0 0 .75em 0;
		display: flex;
		align-items: center;
		padding-right: 100px;
		.scoring__heading {
			margin: 0;
			font-family: 'Gotham Extra Narrow';
			font-size: 2.375em;
			line-height: 1em;
			text-transform: uppercase;
			font-weight: 700;
	    	font-style: italic;
		}
		.scoring__nav {
			margin: 0 0 0 2em;
			border-left: 2px solid #000;
			padding: 0 0 0 .9375em;
			.scoring__nav-link {
				margin: 0 .9375em;
				display: inline-block;
				padding: .25em .25em;
				font-family: 'panton_bold';
				font-size: 1em;
				line-height: 1em;
				color: #000;
				border-bottom: 2px solid transparent;
				&:hover, &.scoring__nav-link--active {
					border-bottom: 2px solid #ffd400;
				}
			}

			&.scoring__nav--hidden {
				display: none;
			}
		}
	}

	.scoring__date-heading {
		margin: 0;
		font-family: 'panton_bold';
		font-size: 1.6em;
		line-height: 1em;
	}
	.scoring__sub-heading {
		margin: 0 0 .875em 0;
		font-family: 'panton_bold';
		font-size: 1.1875em;
		line-height: 1em;
	}
	.scoring__select-tournament {
		// margin: 2.1875em 0 3.125em 0
		margin: 2.1875em 0 1.375em 0
	}

	.scoring__match-list-item {
		margin-bottom: 2.5em;
	}

	.scoring__match-list-item--no-matches {
		font-family: 'panton_bold';
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
		padding: .3125em 0;
	}

	.scoring__match-table {
		width: 100%;
		font-size: 1em;
		th, td {
			font-size: 1em;
			padding: .3125em 0;
		}
		th {
			font-weight: normal;
		}
		td {
		}
		.in-progress {
			color: #ec2c00
		}
		.scoring__match-info {
			border-top: 1px solid #d7d7d7;
			border-bottom: 1px solid #d7d7d7;
			font-family: 'panton_bold';
			font-size: 1em;
			th, td {
				line-height: 1em;
				padding: .5em 0;
			}
			.scoring__match-name {}
			.scoring__match-round {
				&:before{
					content: ', ';
				}
			}
			.scoring__match-type {
				padding-right: 0.4em;
			}
			.scoring__match-status {
				text-align: right;
			}
		}
		.scoring__match-sets {
			border-bottom: 1px solid #d7d7d7;
			font-family: 'panton_bold';
			font-size: .8906em;
			color: #a9a9a9;
		}
		.scoring__sideout {
			text-align: right;
			font-family: 'panton_regular';
			font-size: 1.1228em;
			color: #00698c;
		}

		.scoring__match-team {
			font-size: 1em;
			font-family: 'panton_bold';
			td {
				padding: 1.25em 1.25em 1.25em 0;
				&:first-child {
					padding-left: .9375em;
				}
				&:last-child {
					padding-right: .9375em;
				}
			}
			.scoring__match-team-position {
				width: 2.6em;
				font-family: 'panton_regular';
				font-size: 0.8em;
			}
			.scoring__match-team-players {
				width: 8em;
				padding-right: 2.5em;
				.scoring__match-team-player {
					
					span {
						white-space: nowrap;
					}
					margin-bottom: .5em;
					&:last-child {
						margin-bottom: 0;
					}
					&.serving {
						span {
							display: inline-block;
							position: relative;
							padding: 0 1em 0 0;
							&:after {
								position: absolute;
								right: 0;
								top: 50%;
								transform: translateY(-50%);
								-webkit-transform: translateY(-50%);
								-moz-transform: translateY(-50%);
								content: '';
								width: .5em;
								height: .5em;
								background-color: #000000;
								border-radius: 50%;
							}						
						}

					}
				}
			}
			.scoring__match-team-set {
				width: 6em;
				&.scoring__match-team-set--winner {
					font-family: 'panton_black';
				}
			}
			.scoring__match-team-results {
				text-align: right;
				.result {
					white-space: nowrap;
				}
				.icon-winner {
					display: inline-block;
					padding-right: .625em;
					svg {
						display: block;
						width: .75em;
						height: .75em;
					}
				}
				.details {
					margin-top: .75em;
					font-size: .6875em;
					line-height: 1.125em;
					color: #717171;
					font-style: italic;
				}
			}
			&:nth-child(even) {
				background-color: #f2f2f2;
			}
			&.scoring__match-team--winner {
				background-color: #fff4bf;
			}
		}

	}

	.scoring__match-stats-wrapper {
		padding: .625em 0 0 0;
		.scoring__match-stats-toggle {
			position: relative;
			display: inline-block;
			font-size: .8125em;
			line-height: 1em;
			background-color: #404040;
			padding: .3em 2em .3em 1em;
			font-family: 'panton_semibold';
			border-radius: 1em;
			color: #ffd400;
			.scoring__match-stats-toggle-label {
				display: block;
			}
			.scoring__match-stats-toggle-label--close {
				display: none;
			}
			.scoring__match-stats-toggle-icon {
				position: absolute;
				right: 1em;
				top: 50%;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				svg {
					display: block;
					width: .666em;
					height: .666em;
					path {
						fill: #ffd400;
					}
				}
			}
			&:hover {
				background-color: #ffd400;
				color: #404040;
				.scoring__match-stats-toggle-icon {
					svg {
						path {
							fill: #404040;
						}
					}
				}
			}			
		}
		.scoring__match-stats {
			display: none;
		}
		&.scoring__match-stats-wrapper--active {
			.scoring__match-stats-toggle {
				.scoring__match-stats-toggle-label--open {
					display: none;
				}
				.scoring__match-stats-toggle-label--close {
					display: block;
				}
				.scoring__match-stats-toggle-icon {
					svg {
						transform: rotate(180deg);
					}
					
				}
			}
			.scoring__match-stats {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
			}
		}


		.scoring__match-stats {
			padding: 1.125em 0 0 0;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			font-size: 1em;
			.scoring__match-stats-table-wrapper, .scoring__match-stats-info {
				width: 100%;
			}
			.scoring__match-stats-table-wrapper {
				position: relative;
				// padding-right: 10px;
				.scoring__match-stats-table {
					width: 100%;
					font-family: 'panton_semibold';
					border-collapse: collapse;
					border: 1px solid #d7d7d7;	
					th, td {
						padding: .4em;
						border: 1px solid #d7d7d7;
						&.black-right-border {
							border-right-color: #000;
						}
						&.centered {
							text-align: center;
						}
					}
					th {
						padding: .3em .5em;
						font-size: .875em;
						font-weight: normal;
					}
					td {
						padding: .5em .75em;
						border-top: none;
						border-bottom: none;
						font-size: .75em;
					}
					tr {
						&:nth-child(even) {
							background-color: #f2f2f2;
						}
					}
				}


				.scoring__stats-table {
					width: 100%;
					font-family: 'panton_semibold';
					border-collapse: collapse;
					border: 1px solid #404040;	
					th, td {
						padding: .4em;
						background-clip: padding-box;
						&.black-border {
							border-style: solid;
							border-width: 0;
							border-color: #404040;
						}
						&.gray-border {
							border-style: solid;
							border-width: 0;
							border-color: #d4d4d5;
						}
						&.border--top {
							border-top-width: 1px;
						}
						&.border--right {
							border-right-width: 1px;
						}
						&.border--bottom {
							border-bottom-width: 1px;
						}
						&.border--left {
							border-left-width: 1px;
						}

						&.centered {
							text-align: center;
						}
						&.blue-bg {
							padding: .8571em .75em;
							background-color: #00698c;
							font-family: 'panton_bold';
							color: #ffffff;
							font-size: .875em;
							line-height: 1em;
						}
					}
					.name-column {
						width: 10%;
					}
					.property-column {
						width: 9%;
					}
					th {
						text-align: center;
						padding: .75em .5em;
						font-family: 'panton_bold';
						font-size: .6875em;
						font-weight: normal;
					}
					td {
						padding: .5em .75em;
						font-size: .875em;
						line-height: 1em;
						text-align: center;
					}
					tr {
						td, th {
							&:nth-child(even) {
								background-color: #f2f2f2;
							}							
						}

					}
					.scoring__stats-table-heading-row {
						th, td {

						}
					}
				}
				.scoring__match-stats-info-toggle {
					display: inline-block;
					position: absolute;
					bottom: 0;
					right: 0;
					transform: translateX(100%);
					-moz-transform: translateX(100%);
					-webkit-transform: translateX(100%);
					svg {
						display: block;
						width: 1.125em;
						height: 1.125em;
					}
					&:hover {
						svg {
							transform: scale(1.1);
							-moz-transform: scale(1.1);
							-webkit-transform: scale(1.1);
						}
					}
				}
			}
			.scoring__match-stats-info {
				display: none;
				background-color: #f2f2f2;
				padding: 1.25em;
			}

			&.scoring__match-stats--active {
				.scoring__match-stats-table-wrapper {
					.scoring__match-stats-info-toggle {
						display: none;
					}
				}
				.scoring__match-stats-info {
					display: block;
				}
			}
		}


	}

	@media (max-width:812px) {
		.scoring__heading-wrapper {
			display: block;
			padding-right: 40px;
			.scoring__nav {
				margin: .75em 0 1em 0;
				padding-left: 0;
				border-left: none;
				.scoring__nav-link {
					margin: 0 1em 0 0;
					padding: .25em 0;
					font-size: 14px;
				}
			}
		}		
	}


	@media (max-width:767px) and (orientation:portrait) {
		font-size: 3.2vw;

		.scoring__header {
			// padding-right: 40px;
			.api-loading {
				.label {
					display: none;
				}
			}
		}



		.scoring__match-table {

			.scoring__match-info {
				.scoring__match-round {
					display: block;
					font-size: .875em;
					&:before{
						content: '';
					}
				}				
			}



			.scoring__match-team {
				.scoring__match-team-players {
					padding-right: .75em;
					max-width: 10em;
					.scoring__match-team-player {
						span {
							white-space: normal;
						}
					}
				}
				.scoring__match-team-set {
					width: 3em;
				}
				.scoring__match-team-results {
					.details {
						font-size: .75em;
					}
					.icon-winner {
						padding-right: .25em;
					}
				}
			}
		}
		.scoring__match-stats-wrapper {
			.scoring__match-stats {
				.scoring__match-stats-table-wrapper, .scoring__match-stats-info {
					width: 100%;
				}			
				.scoring__match-stats-table-wrapper {
					padding: 0 0 10px 0;
					.scoring__match-stats-info-toggle {
						position: relative;
						margin-top: 10px;
						transform: translateX(0);
						-moz-transform: translateX(0);
						-webkit-transform: translateX(0);
					}
					.scoring__stats-table {
						font-size: 2.8vw;
						th {
							text-align: center;
							padding: .75em .25em;
						}
						td {
							padding: .5em .25em;
						}
					}
				}
			}
		}
	}	


	@media (max-width:767px) and (orientation:landscape) {
		font-size: 2.2vw;

		.scoring__header {
			// padding-right: 80px;
			.api-loading {
				.label {
					font-size: 8px;
				}
			}
		}

		.scoring__match-stats-wrapper {
			.scoring__match-stats {
				.scoring__match-stats-table-wrapper, .scoring__match-stats-info {
					width: 100%;
				}			
				.scoring__match-stats-table-wrapper {
					padding: 0 0 10px 0;
					.scoring__match-stats-info-toggle {
						position: relative;
						margin-top: 10px;
						transform: translateX(0);
						-moz-transform: translateX(0);
						-webkit-transform: translateX(0);
					}
					.scoring__stats-table {
						font-size: 2.2vw;
					}
				}
			}
		}
	}
}

.scoring__select-tournament {
	display: flex;
	flex-wrap: wrap;
}
.blue-select-wrapper {
	display: inline-block;
	overflow: hidden;
	margin: 0 0 8px 0;
	.blue-select {
		position: relative;
		display: inline-block;
		svg {
			position: absolute;
			z-index: 1;
			display: block;
			width: 10px;
			height: 10px;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			pointer-events: none;
			path {
				fill: #fff;
			}
		}
		select {
			margin: 0 8px 0 0;
			&:empty {
				display: none;
			}
			position: relative;
			z-index: 0;
			// background-color: transparent;
			background-color: #00698c;
			padding: 0 2.5em 0 .5em;
			color: #fff;
			font-size: 13px;
			line-height: 1em;
			border: none;
			-moz-appearance: none;
			-webkit-appearance: none;
			height: 30px;
			cursor: pointer;
			option {
				background-color: #fff;
				color: #000;
			}

			&[name="match_status"]{
				opacity: 0;
				pointer-events: none;
				&.blue-select--active {
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}

	@media (max-width:767px) {
		.blue-select {
			select, select:focus {
				font-size: 16px;
			}
		}
	}
}




.api-loading {
	position: relative;
	.loader {
		font-size: 30px;
	}
}




.scoring__bracket-wrapper {
	font-family: 'panton_semibold';
	font-size: 16px;
	overflow-x: auto;
	overflow-y: hidden;
	color: #000000;
	.scoring__bracket-name {
		text-transform: capitalize;
	}
	.scoring__bracket {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		min-width: 980px;
		margin-left: 2px;
		
		.scoring__bracket-column {
			padding-right: 1.25em;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-justify-content: space-around;
			-ms-flex-pack: distribute;
			justify-content: space-around;
			-webkit-align-items: flex-start;
			-ms-flex-align: start;
			align-items: flex-start;
			a.scoring__bracket-match {
				border: 2px solid rgba(255,212,0,0);
				&:hover {
					border: 2px solid rgba(255,212,0,1);
				}
				margin-left: -2px;
				margin-right: -2px;
			}
			div.scoring__bracket-match {
				margin-top: 1.875em;
				margin-bottom: 1.875em;
			}
			.scoring__bracket-match {
				position: relative;
				margin-top: 1.75em;
				margin-bottom: 1.75em;
				width: 100%;
				&:after, &:before {
					position: absolute;
					top: 50%;
					left: 100%;
					content: '';
					width: 2em;					
				}
				&:after {
					height: 1px;
					background-color: #000;
				}
				&:before {
					border: none;
					border-right: 1px solid #000;
				}
				.scoring__bracket-match-label, .scoring__bracket-match-movement {
					position: absolute;
					left: 0;
					right: 0;
					font-family: 'panton_italic';
					font-size: 0.625em;
					line-height: 1.125em;
				}
				.scoring__bracket-match-label {
					top: 0;
					-webkit-transform: translateY(-100%);
					-ms-transform: translateY(-100%);
					transform: translateY(-100%);
					padding-bottom: .125em;
					color: #000;
					.scoring__bracket-match-number {
						font-family: 'panton_bold';
						font-size: 1.125em;
						line-height: 1em;
					}
				}
				.scoring__bracket-match-movement {
					opacity: 1;
					top: 100%;
					line-height: 1em;
					padding-top: .4em;
					color: #717171;
					&:empty {
						display: none;
					}
				}	
				.scoring__bracket-match-team {
					position: relative;
					background-color: #f2f2f2;
					// padding: .4em 2em .4em 2.5em;
					padding: .4em;
					// font-size: .75em;
					font-size: .6875em;
					line-height: 1.25em;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-align-items: center;
					-ms-flex-align: center;
					align-items: center;
					&.scoring__bracket-match-team--a {
						margin: 0 0 1px 0;
					}
					&.winner {
						background-color: #fff4bf;
					}
					.scoring__bracket-match-team-rank, .scoring__bracket-match-team-score {
						// position: absolute;
						// top: 50%;
						// -webkit-transform: translateY(-50%);
						// -ms-transform: translateY(-50%);
						// transform: translateY(-50%);
					}
					.scoring__bracket-match-team-rank {
						// left: .5em;
						color: #008fbe;
						width: 2em;
						&:empty {
							display: none;
						}
					}
					.scoring__bracket-match-team-names {
						display: block;
						max-height: 1.25em;
						overflow: hidden;
						white-space: nowrap;
						// flex: 1 0 auto;
						color: #000;
						width: 100%;
					}
					.scoring__bracket-match-team-score {
						right: .5em;
						color: #000;
					}
				}

				&.in-progress {
					.scoring__bracket-match-label {
						padding-right: 5.5em;
						&:after {
							position: absolute;
							right: 0;
							content: ' In Progress';
							color: #ec2c00;
						}
					}
				}

			}



		}

		&.scoring__bracket--24 {
			.scoring__bracket-column {
				&:nth-child(2), &:nth-child(3), &:nth-child(4){
					.scoring__bracket-match {
						&:before, &:after {
							width: 4.5em;
						}
					}
				}
			}
		}

		&.scoring__bracket--32 {
			.scoring__bracket-column {
				&:nth-child(3), &:nth-child(4), &:nth-child(5) {
					.scoring__bracket-match {
						&:before, &:after {
							width: 4.5em;
						}
					}			
				}
			}
			&.scoring__bracket--contenders {
				.scoring__bracket-match {
					margin: 2em 0;
				}
			}
		}

		&.scoring__bracket--contenders, &.scoring__bracket--winners {
			.scoring__bracket-column {
				&:last-child {
					padding-right: 0;
					.scoring__bracket-match {
						&:before, &:after {
							display: none;
						}
					}					
				}
			}
		}

		&.scoring__bracket--contenders {
			margin-bottom: 4em;

			.scoring__bracket-column {
				width: 16.666%;		
				flex: 1 0 auto;
				&:nth-child(1) {
					.scoring__bracket-match {
						&:before {
							height: .4em;	
						}
					}
				}
			}

			&.scoring__bracket--16 {
				padding-bottom: 2em;
				.scoring__bracket-column {
					&:nth-child(2), &:nth-child(4), &:nth-child(5) {
						.scoring__bracket-match {
							.scoring__bracket-match-movement {
								opacity: 1;
							}
						}
					}
					&:nth-child(1) {
						-webkit-justify-content: flex-start;
						-ms-flex-pack: start;
						justify-content: flex-start;
					}
					&:nth-child(2) {
						padding-top: 3.25em;
						-webkit-justify-content: flex-start;
						-ms-flex-pack: start;
						justify-content: flex-start;
						.scoring__bracket-match {
							&:before {
								height: .4em;	
							}
							&:nth-child(even) {
								&:before {
									-webkit-transform: translateY(-100%);
									-ms-transform: translateY(-100%);
									transform: translateY(-100%);
								}
							}
						}
					}
					&:nth-child(3) {
						padding-top: 3.25em;
						.scoring__bracket-match {
							&:before {
								height: 3em;	
							}
						}
					}
					&:nth-child(4), &:nth-child(5) {
						padding-top: 3.25em;
						-webkit-transform: translateY(20%);
						-ms-transform: translateY(20%);
						transform: translateY(20%);
					}

					&:nth-child(5) {
						padding-right: 0;
						.scoring__bracket-match {
							&:before, &:after {
								display: none;
							}
						}
					}
				}
			}

			&.scoring__bracket--24 {
				padding-bottom: 3em;
				.scoring__bracket-column {
					&:nth-child(3), &:nth-child(5), &:nth-child(6) {
						.scoring__bracket-match {
							.scoring__bracket-match-movement {
								opacity: 1;
							}
						}
					}					
					&:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(6){
						.scoring__bracket-match {
							// -webkit-transform: translateY(.475em);
							// 	-ms-transform: translateY(.475em);
							// 	transform: translateY(.475em);							
						}
					}
					&:nth-child(1), &:nth-child(3) {
						.scoring__bracket-match {
							&:nth-child(even) {
								&:before {
									-webkit-transform: translateY(-100%);
									-ms-transform: translateY(-100%);
									transform: translateY(-100%);
								}
							}
						}
					}
					&:nth-child(2), &:nth-child(3), &:nth-child(4) {
						.scoring__bracket-match {
							&:before {
								height: 3em;	
							}
						}
					}
					&:nth-child(3), &:nth-child(4) {
						transform: translateY(6.75em);
					}
					&:nth-child(5), &:nth-child(6) {
						transform: translateY(13.3em);
					}
				}
				
			}
			&.scoring__bracket--32 {
				padding-bottom: 4.875em;
				.scoring__bracket-column {
					width: 14.2857%;
					&:nth-child(2), &:nth-child(7) {
						.scoring__bracket-match {
							.scoring__bracket-match-movement {
								opacity: 1;
							}
						}
					}
					&:nth-child(2), &:nth-child(3) {
						transform: translateY(3.25em);
					}
					&:nth-child(4), &:nth-child(5) {
						transform: translateY(9.5em);
					}
					&:nth-child(6), &:nth-child(7) {
						transform: translateY(16.1em);
					}
					&:nth-child(1), &:nth-child(2) {
						.scoring__bracket-match {
							&:before {
								height: .4em;	
							}
						}
					}
					&:nth-child(2), &:nth-child(4) {
						.scoring__bracket-match {
							&:nth-child(even) {
								&:before {
									-webkit-transform: translateY(-100%);
									-ms-transform: translateY(-100%);
									transform: translateY(-100%);
								}
							}
						}
					}
					&:nth-child(3), &:nth-child(4), &:nth-child(5) {
						.scoring__bracket-match {
							&:before {
								height: 2.5em;	
							}
						}
					}
				}
			}
		}
		
		&.scoring__bracket--winners {

			.scoring__bracket-column {
				&:nth-child(1) {
					.scoring__bracket-match {
						&:before {
							height: .4em;	
						}
					}
				}				
			}
			&.scoring__bracket--16 {
				margin-bottom: 4em;
				.scoring__bracket-column {
					width: 16.6666%;
					&:nth-child(2) {
						.scoring__bracket-match {
							// -webkit-transform: translateY(.475em);
							// -ms-transform: translateY(.475em);
							// transform: translateY(.475em);
							&:before {
								height: 3em;	
							}							
						}
					}				
					&:nth-child(3) {
						.scoring__bracket-match {
							&:before {
								height: 4.5em;	
							}
						}
					}
					&:nth-child(4) {
						-webkit-justify-content: center;
						-ms-flex-pack: center;
						justify-content: center;
						.scoring__bracket-match {
							margin: 3.5em 0;
							&:before {
								height: 2em;	
							}
						}	
					}	
					&:nth-child(4), &:nth-child(6) {
						.scoring__bracket-match {
							.scoring__bracket-match-movement {
								opacity: 1;
							}
						}
					}
					&:nth-child(3), &:nth-child(4) {
						.scoring__bracket-match {
							// -webkit-transform: translateY(.9em);
							// -ms-transform: translateY(.9em);
							// transform: translateY(.9em);
						}
					}
					&:nth-child(5), &:nth-child(6), &:nth-child(7) {
						.scoring__bracket-match {
							// -webkit-transform: translateY(1.25em);
							// -ms-transform: translateY(1.25em);
							// transform: translateY(1.25em);
						}
					}
					.scoring__bracket-match {
						&:nth-child(even) {
							&:before {
								-webkit-transform: translateY(-100%);
								-ms-transform: translateY(-100%);
								transform: translateY(-100%);
							}
						}
					}
				}
			}

			&.scoring__bracket--24{
				.scoring__bracket-column {
					&:nth-child(5), &:nth-child(7) {
						.scoring__bracket-match {
							.scoring__bracket-match-movement {
								opacity: 1;
							}
						}
					}
				}
			}
			&.scoring__bracket--24, &.scoring__bracket--32 {
				.scoring__bracket-column {
					width: 14.2857%;
				}
			}
			&.scoring__bracket--32 {
				margin-bottom: 4em;
				.scoring__bracket-column {
					&:nth-child(2) {
						.scoring__bracket-match {
							-webkit-transform: translateY(.475em);
							-ms-transform: translateY(.475em);
							transform: translateY(.475em);
						}
					}
					&:nth-child(3), &:nth-child(4) {
						.scoring__bracket-match {
							-webkit-transform: translateY(.9em);
							-ms-transform: translateY(.9em);
							transform: translateY(.9em);
						}
					}
					&:nth-child(5), &:nth-child(6), &:nth-child(7) {
						.scoring__bracket-match {
							-webkit-transform: translateY(1.25em);
							-ms-transform: translateY(1.25em);
							transform: translateY(1.25em);
						}
					}
					&:nth-child(2) {
						.scoring__bracket-match {
							&:before {
								height: 3em;	
							}
						}
					}
					.scoring__bracket-match {
						&:nth-child(even) {
							&:before {
								-webkit-transform: translateY(-100%);
								-ms-transform: translateY(-100%);
								transform: translateY(-100%);
							}
						}
					}
					

				}

			}

			&.scoring__bracket--32 {
				.scoring__bracket-column {
					&:nth-child(5), &:nth-child(7) {
						.scoring__bracket-match {
							.scoring__bracket-match-movement {
								opacity: 1;
							}
						}
					}
					&:nth-child(3), &:nth-child(4), &:nth-child(5) {
						.scoring__bracket-match {
							&:before {
								height: 8em;	
							}
						}
					}
					&:nth-child(5) {
						-webkit-justify-content: center;
						-ms-flex-pack: center;
						justify-content: center;
						.scoring__bracket-match {
							margin: 11.5em 0;
						}	
					}					
				}
			}
			&.scoring__bracket--24 {
				margin-bottom: 8em;
				.scoring__bracket-column {
					&:nth-child(3) {
						.scoring__bracket-match {
							// -webkit-transform: translateY(.475em);
							// -ms-transform: translateY(.475em);
							// transform: translateY(.475em);
						}
					}
					&:nth-child(4) {
						.scoring__bracket-match {
							// -webkit-transform: translateY(.875em);
							// -ms-transform: translateY(.875em);
							// transform: translateY(.875em);
						}
					}
					&:nth-child(6), &:nth-child(7) {
						.scoring__bracket-match {
							// -webkit-transform: translateY(.875em);
							// -ms-transform: translateY(.875em);
							// transform: translateY(.875em);
						}
					}
					&:nth-child(5) {
						.scoring__bracket-match {
							// -webkit-transform: translateY(.5em);
							// -ms-transform: translateY(.5em);
							// transform: translateY(.5em);
						}
					}
					&:nth-child(2), &:nth-child(3), &:nth-child(4) {
						transform: translateY(3.5em);
					}
					&:nth-child(5), &:nth-child(6), &:nth-child(7) {
						transform: translateY(10.25em);
					}
					&:nth-child(2), &:nth-child(3), &:nth-child(5) {
						.scoring__bracket-match {
							&:nth-child(even) {
								&:before {
									-webkit-transform: translateY(-100%);
									-ms-transform: translateY(-100%);
									transform: translateY(-100%);
								}
							}							
						}
					}
					&:nth-child(2) {
						-webkit-justify-content: flex-start;
						-ms-flex-pack: start;
						justify-content: flex-start;
						.scoring__bracket-match {
							&:before {
								height: .4em;	
							}
						}	
					}
					&:nth-child(3), &:nth-child(4) {
						.scoring__bracket-match {
							&:before {
								height: 3.5em;	
							}
						}
					}
					&:nth-child(5) {
						.scoring__bracket-match {
							&:before {
								height: 10em;	
							}
						}
					}

				}
			}

		}

		&.scoring__bracket--qualifiers {
			.scoring__bracket-column {
				width: 16.666%;
				flex: 1 0 auto;
				.scoring__bracket-match {
					&:before, &:after {
						display: none;
					}
				}
				&:empty {
					display: none;
				}
			}
		}

	}

	@media ( max-width: 767px) and ( orientation:portrait) {
		// font-size: 3.6vw;
		font-size: 13px;
	}

	@media ( max-width: 767px) and ( orientation:landscape) {
		font-size: 2vw;
	}
	@media ( min-width: 768px) and ( max-width: 1023px ) and ( orientation:landscape) {
		font-size: 1.5vw;
	}
	@media ( min-width: 768px) and ( max-width: 1023px ) and ( orientation:portrait) {
		font-size: 1.7vw;
	}

	@media ( min-width: 1024px) and ( max-width: 1200px) and ( orientation:landscape) {
		font-size: 1.4vw;
	}



}




.api-error-overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	heigh: 100%;
	background-color: rgba(0,0,0,.95);
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;


	padding: 100px 40px 40px 40px;
	.api-error-overlay__content {
		max-width: 800px;
		color: #fff;
		h1 {
			font-family: 'panton_bold';
		}
		p {
			font-size: 1.25em;
		}

	}
}

.api-error {
	.api-error-overlay {
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	}
}