<ion-item>Pull down or <ion-button (click)="refresh()">Refresh</ion-button></ion-item>
<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<div id="scoring">
    <div class="scoring__main-content">
        <div class="scoring__select-tournament">
            <div class="blue-select-wrapper">
              <div class="blue-select">    
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000"><path d="M1000 155L500 845 0 155H1000z"></path></svg>           
                  <select name="event" id="" (change) = "tournamentChanged($event)">
                      <option value="" selected>Avp Events</option>
                    <option value="4" >2019 Seattle Open</option>
                    <option value="3" >2019 New York Open</option>
                      <option value="2" >2019 Austin Open</option>
                      <option value="1">2019 Huntington Beach Open</option>
                      </select> 
              </div>
            </div>
        </div>
      <div>{{event?.eventName}}</div>
        <div class="scoring__match-list">
          <!-- Grand Totals -->
          <div class="scoring__match-list-item">
              <div class="scoring__match-stats-wrapper scoring__match-stats-wrapper--active">
                <div class="scoring__match-stats">
                  <div class="scoring__match-stats-table-wrapper">
                    <table class="scoring__stats-table" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr class="scoring__stats-table-heading-row">
                          <th class="name-column blue-bg black-border border--bottom">Finish</th>
                          <th class="property-column black-border border--bottom">Seed</th>
                          <th class="property-column black-border border--bottom">Grand Total</th>
                          <th class="property-column black-border border--bottom">Partner</th>
                          <th class="property-column black-border border--bottom">Attacks</th>
                          <th class="property-column black-border border--bottom">Kills</th>                     
                          <th class="property-column black-border border--bottom">Digs</th>
                          <th class="property-column black-border border--bottom">Blocks</th>
                          <th class="property-column black-border border--bottom">Aces</th>
                          <th class="property-column black-border border--bottom">Service Errors</th>
                          <th class="property-column black-border border--bottom">Fantasy Points</th>


                          <!-- <th class=" black-border border--bottom"></th> -->
                        </tr>
                        <tr *ngFor="let t of playerTotals">
                          <td class="blue-bg">{{ t.result }}</td>
                          <td class="border--bottom gray-border">{{ t.seed }}</td>
                          <td class="border--bottom gray-border">{{ t.grandPointsTotal | customFormatter: t.grandPointsTotal > 100 }}</td>
                          <td class="border--bottom gray-border">{{ t.partnerName }}</td>
                          <td class="border--bottom gray-border">{{ t.attacks }}</td>
                          <td class="border--bottom gray-border">{{ t.kills }}</td>
                          <td class="border--bottom gray-border">{{ t.digs }}</td>
                          <td class="border--bottom gray-border">{{ t.blocks }}</td>
                          <td class="border--bottom gray-border">{{ t.aces }}</td>
                          <td class="border--bottom gray-border">{{ t.serviceErrors }}</td>
                          <td class="border--bottom gray-border">{{ t.statsPointTotal | customFormatter: t.statsPointTotal > 100}}</td>


                         <!--  <td rowspan="2" class="black-border border--bottom"></td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                 <!--  <div class="scoring__match-stats-info">STATS INFO HERE</div> -->
                </div>
              </div>
            </div>

          <!-- end Grand totals-->
          <!-- Match Stats -->
        <div class="scoring__match-list-item">
          <div class="scoring__match-stats-wrapper scoring__match-stats-wrapper--active">
            <div class="scoring__match-stats">
              <div class="scoring__match-stats-table-wrapper">
                <table class="scoring__stats-table" cellpadding="0" cellspacing="0">
                  <tbody>
                    <tr class="scoring__stats-table-heading-row">
                      <th class="name-column blue-bg black-border border--bottom">Bracket - Match #</th>
                      <th class="property-column black-border border--bottom">Sets Won</th>
                      <th class="property-column black-border border--bottom">Attacks</th>
                      <th class="property-column black-border border--bottom">Kills</th>                     
                      <th class="property-column black-border border--bottom">Digs</th>
                      <th class="property-column black-border border--bottom">Blocks</th>
                      <th class="property-column black-border border--bottom">Aces</th>
                      <th class="property-column black-border border--bottom">Service Errors</th>

                      <!-- <th class=" black-border border--bottom"></th> -->
                    </tr>
                    <tr *ngFor="let m of matchStats">
                      <td class="blue-bg">{{ m.matchState }}: {{ m.bracket }} - #{{ m.matchNo }} </td>
                      <td class="border--bottom gray-border">{{ m.setsWon }}</td>
                      <td class="border--bottom gray-border">{{ m.attacks }}</td>
                      <td class="border--bottom gray-border">{{ m.kills }}</td>                      
                      <td class="border--bottom gray-border">{{ m.digs }}</td>
                      <td class="border--bottom gray-border">{{ m.blocks }}</td>
                      <td class="border--bottom gray-border">{{ m.aces }}</td>
                      <td class="border--bottom gray-border">{{ m.serviceErrors }}</td>

                     <!--  <td rowspan="2" class="black-border border--bottom"></td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
             <!--  <div class="scoring__match-stats-info">STATS INFO HERE</div> -->
            </div>
          </div>
        </div>
        <!--  end match stats-->
        </div>
    </div>
</div>
