<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-left>{{ tournament?.location }} - {{ tournament?.dateRange }}</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button routerLink="/login" routerDirection="root"> <ion-icon slot="icon-only" name="log-out"></ion-icon> </ion-button> -->
      <ion-button (click)="open()"> <ion-icon slot="icon-only" name="body"></ion-icon>Your Team</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="this.tournament?.status === 2">
  <ion-label >Click Athelete to add or remove from lineup</ion-label>
  <ion-toolbar *ngIf="userTeam?.length > 0">
    <ion-slides [options]="slidesOpts">
      <ion-slide *ngFor="let usr of userTeam" (click)="removeFromTeam(usr)">
        <ion-avatar slot="start" *ngIf="usr.image_url != 'NA'">
          <img [src]="usr.image_url" />
        </ion-avatar>
        <ion-avatar slot="start" *ngIf="usr.image_url == 'NA'">
          <img src="../../../assets/imgs/profile.png" />
        </ion-avatar>
        <p text-capitalize text-center>{{ usr.fullName }}</p>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="segmentChanged(1)" [ngClass]="{ 'my-css-class': tierSelected === 1 }"
          >Tier 1 <br />[{{ tier1Count }}/4]</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button (click)="segmentChanged(2)" [ngClass]="{ 'my-css-class': tierSelected === 2 }"
          >Tier 2 <br />[{{ tier2Count }}/4]</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button (click)="segmentChanged(3)" [ngClass]="{ 'my-css-class': tierSelected === 3 }"
          >Tier 3 <br />[{{ tier3Count }}/4]</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button (click)="segmentChanged(4)" [ngClass]="{ 'my-css-class': tierSelected === 4 }"
          >Tier 4 <br />[{{ tier4Count }}/4]</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
    
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Default Segment -->
  <div class="login-box">
    <app-player
      *ngFor="let p of athleteTier; let i = index"
      [player]="p"
      [tournament]="tournament"
      (selectedPlayer)="onSelected($event)"
      (removePlayer)="onRemoved($event)"
    ></app-player>  
  </div>  
</ion-content>
