ion-badge {
    font-size: 25px; //Preferred size here 
    border-radius: 10px;

}
ion-avatar{
    width: 50px;
    height: 50px;
   
}

  .my-css-class{
    
    --background:var(--ion-color-success)
    }

.button-inner {
    flex-flow: column;
  }

ion-slide {
    background: var(--ion-color-light);
    display: block;
    padding:5px;
    width: unset !important;
    p {
        font-size: 5pt;
        margin-top: 0;
    }

     ion-avatar {
        display: inline-block;
        margin-top: 5px;
        width: 50px;
        height: 50px;
        img {
            border: 2px solid var(--ion-color-primary);
        }
    } 
}



.login-box {
    margin: 1em;
    padding: 1em;
    margin-top: 1vh;
    background: #ffffffe6;
    border-radius: 15px;
    border: 2px solid var(--ion-color-primary);
}

ion-content {
    --background: none;
   // background-image: url('/assets/imgs/login.jpg');
   background-color: black;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
