ion-content {
    --background: none;
     background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.item-inner{
  min-height: 1px !important;
}

.label-md{
  margin-bottom: 1px!important;
  margin-top: 1px!important;
}

ion-item-divider{
  margin-top: 0px;
  min-height: 1px!important;
}