<ion-header >
    <ion-toolbar color="primary">
    <ion-title slot="start" style="font-size: small">Leader Board </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="logOut()" routerDirection="root"> <ion-icon slot="icon-only" name="log-out"></ion-icon> </ion-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header *ngIf="false">
  <ion-item >
    <select style="width: 100%;" name="event" id="" (change) = "tournamentChanged($event)">
        <option value="" disabled >AVP Events</option>
        <option value="4" selected >2019 Seattle Open</option>
        <option value="3"  >2019 New York Open</option>
        </select>
      <ion-icon slot="end" size="large" tappable name="refresh" (click)="getLeaderBoard(scheduleNo)"></ion-icon>

      </ion-item>
</ion-header>
<ion-header >
<ion-item *ngIf="loaded"  color="warning" >
    <ion-label  text-wrap tappable (click)="goToUserFantasyTeam(this.scheduleNo,loggedInUsersTeam.userId,loggedInUsersTeam)"  >
        <h3 style="--font-color: black" ><b> {{place+1}} - <u >{{ loggedInUsersTeam.userName }}</u></b></h3>
        <ion-note style="font-size:8pt; padding-left: 20px">{{ 12 - loggedInUsersTeam.noPlayersEliminated }}/12 players remain | Avg Multiplier Left: <b  style="color: green;font-size:10pt;">{{loggedInUsersTeam.avgMultiplier | customFormatter: loggedInUsersTeam.avgMultiplier > 100}}</b>  </ion-note>
     </ion-label>
    <ion-badge color="primary" sizeLg="12" slot="end"> {{loggedInUsersTeam.grandTotalPoints  | customFormatter: loggedInUsersTeam.grandTotalPoints > 100}}</ion-badge>
    <ion-icon slot="end" size="large" tappable name="refresh" (click)="getLeaderBoard(4)"></ion-icon>

</ion-item>
    <ion-item-divider></ion-item-divider>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 
    <ion-list >
        <ion-item  *ngFor="let r of leaderBoardResponse ;let i = index" style="padding:0px !important;" >
            <ion-label  text-wrap tappable   >
                <h3 ><b> {{i + 1 }} - <u (click)="goToUserFantasyTeam(this.scheduleNo,r.userId,r)">{{ r.userName }}</u></b></h3>
                <ion-note style="font-size:8pt; padding-left: 20px">{{ 12 - r.noPlayersEliminated }}/12 players remain | Avg Multiplier Left: <b  style="color: green;font-size:10pt;">{{r.avgMultiplier | customFormatter: r.avgMultiplier > 100}} </b> </ion-note>
            </ion-label>

            <ion-badge color="primary" sizeLg="12" slot="end"> {{r.grandTotalPoints  | customFormatter: r.grandTotalPoints > 100}}</ion-badge>
          </ion-item>         
    </ion-list>
</ion-content>

